<div class="container">
  <div class="row">
    <div class="col-xs-12 title-panel">
      <h1>AngularAutoRio</h1>
    </div>
    <div class="col-xs-12 title-img">
      <div class="col-xs-6 col-md-3 image">
        <img src="../assets/img/Title-img.jpg" alt="">
      </div>
      <div class="col-xs-6 col-md-3 image">
        <img src="../assets/img/Title-img-2.jpg" alt="">
      </div>
      <div class="col-xs-6 col-md-3 image hidden-sm hidden-xs">
        <img src="../assets/img/Title-img-3.jpg" alt="">
      </div>
      <div class="col-xs-6 col-md-3 image hidden-sm hidden-xs">
        <img src="../assets/img/Title-img-4.jpg" alt="">
      </div>
    </div>
    <div class="col-xs-12">
      <app-cars></app-cars>
    </div>
  </div>
</div>



